.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}

#free-write-container {
  height: 100%;
}

#free-write-textarea {
  resize: none;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}


